# Data Science Tools and Ecosystem

## Author
Veronica N.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular tools for Data Science
- List commonly used libraries in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the popular libraries that Data Scientists use are:
1. Pandas
2. NumPy
3. SciPy

## 
|Data Science Tools|
|--------------------|
|RStudio|
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

An arithmetic expression to mutiply then add integers:

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60:

In [9]:
min = 200
hours = min/60
print(hours)

3.3333333333333335